h1 {
    text-align: center;
    color: white;
    /* margin-top: 10%; */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
}

body {
    position: relative;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 100px; /* Adjust line-height to center the text vertically */
    text-decoration: none; /* Remove underline from the link */
    color: #000; /* Text color */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s ease;
    position: absolute; /* Use absolute positioning */
}

.full-screen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
    z-index: -1; /* Places the image behind other content */
}

.circle:hover {
    background-color: #29e8c5; /* Change background color on hover */
}

/* Positioning each circle */
.anime-circle {
    top: 50px;
    left: 100px;
}

.books-circle {
    top: 150px;
    left: 300px;
}

.music-circle {
    top: 250px;
    left: 500px;
}

.tvshow-circle {
    top: 350px;
    left: 700px;
}


/* .circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align:center;
    line-height: 100px; /* Adjust line-height to center the text vertically */
    /* color: #000000; 
    font-weight: bold; 
    transition: background-color 0.3s ease;
    margin: 10px;
    }  */

/* .deco {
    text-decoration: none; /* Remove underline from the link */



/* .circle:hover {
    background-color: #21e3a6; /* Change background color on hover */

